#add-success-alert,
#update-success-alert,
#delete-success-alert {
  display: none;
}

#add-success-alert,
#update-success-alert,
#delete-success-alert {
  animation-name: fadeInAndOut;
  animation-duration: 4s;
  background-color: olivedrab;
  opacity: 50%;
  color: #fff;
  width: 50%;
  text-align: center;
  left: 25%;
}

#addInspBtn {
  background-color: olivedrab;
  border-color: darkolivegreen;
}

#deleteBtn {
  color: brown;
  border-color: brown;
}

#editBtn {
  color: olivedrab;
  border-color: darkolivegreen;
}
#editBtn:hover{
background-color: darkgreen;
}

table {
  background-color: burlywood;
  opacity: 0.85;
  padding: 0.5em;
  margin-bottom: 1.2rem;
  box-shadow: 5px 10px 10px;
  border-color: darkolivegreen;
}

body,
embed,
html {
  height: 50%;
  margin: 0;
  width: 50%;
  background-color: #fff;
  font-size: 14px;
}
body > embed {
  background-color: #fff;
  font-size: 14px;
}

button {
  box-shadow: 1px 1px 2px #000;
}


#pdfBtn {
  background-color: olivedrab;
  border-color: darkolivegreen;
  color: #fff;
}

th {
  padding-left: 2rem;
}

td {
  font-size: 1.2em;
  padding-left: 2rem;
}

@-webkit-keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
